# Dados gerados
data/models/
data/cdp_gathers/
data/semblance/

# Resultados gerados
results/picks/
results/metrics/
results/figures/
results/logs/

# Extensões de dados pesados
*.segy
*.npy
*.h5
*.tar.gz

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
