# Heavy data files
data/models/
data/cdp_gathers/
data/semblance/

# Generated results
results/picks/
results/metrics/
results/figures/
results/logs/

# Exception — preserve folder structure
!**/.gitkeep

# Heavy data extensions
*.segy
*.npy
*.h5
*.tar.gz

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
